footer{
    display: flex;
    width: 100rem;
    height: 48.625rem;
    padding: 5.5rem 9.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.25rem;
    background: var(--gris-oscuro);
    margin-top:11.07rem;
    li{
        list-style: none;
    }
}

.top-footer{
    display: flex;
    align-items: flex-start;
    gap: 8.4375rem;

        .column1{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.875rem;

            .logo-footer{
                display: flex;
                width: auto;
                height: 2.41669rem;
                
                justify-content: flex-end;
                align-items: center;
                gap:0.86rem;

                h1{
                    
                    color: #F9F9F7;
                    font-family:var(--fuente1);
                    font-size: 2.04188rem;
                    font-style: italic;
                    font-weight: 600;
                    line-height: 1.83331rem; 
                    letter-spacing: -0.025rem;
                }
            }

            p{
                width: 18.3125rem;
                color: #ADB29E;
                font-family:var(--fuente2);
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5rem; 
            }

        }

}
.footer__ul{
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    li>img{
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;
    }
    li>img:hover{
        cursor: pointer;
    }
}

.column2{
    display: flex;
    align-items: flex-start;
    gap: 7.5rem;
    .columna2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
    }
    .columna3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
    }
    p{
      color: #F9F9F7;
        font-family:var(--fuente2);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
    }
 }
 .column2__li>a{
    color: #DBDFD0;
    font-family: var(--fuente2);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: none;
 }

 .column3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    p{
        color:#F9F9F7;
        font-family: var(--fuente2);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
    }
 }
 .column3__div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.94rem 0.92rem;
    img{
        width: 12.125rem;
        height: 10.625rem;
        border-radius: 0.75rem;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }
 }
 .bottom-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    p{
        color:#ADB29E;
        font-family: var(--fuente2);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; 
    }
 }