header{
    display: flex;
    width: 100%;
    height: 10rem;
    padding-bottom: 1.9375rem;
    flex-direction: column;
    align-items: center;
    gap: 1.80181rem;
    background-color: var(--gris-claro);
    box-sizing: border-box;
}

.top-bar{
    display: flex;
    width: 100%;
    min-width: fit-content;
    padding: 0.5625rem 9.375rem;
    justify-content: space-between;
    align-items: center;
    background: #474747;
    
}
.info{
    color: #fff;
    display: flex; 
    gap: 1.5625rem;
    .phone{
        display: flex;
    align-items: center;
    gap: 0.5rem;
    }
    .mail{
        display: flex;
    align-items: center;
    gap: 0.5rem;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
}
.ul__social{
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
    list-style: none;

}
.li__social:hover{
    cursor: pointer;
}

.nav{
   display: flex;
    width: 100%;
    min-width: fit-content;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 1.94rem;

        .logo-bliss{
        display: inline-flex;
        width: auto;
        height: 2.41669rem;      
        justify-content: flex-end;
        align-items: center;
        gap: 0.86rem;
            h1{
            display: inline;
            color: var(--gris-oscuro);
            font-family:var(--fuente1);
            font-size: 2.66669rem;
            font-style: italic;
            font-weight: 600;
            line-height: 1.83331rem; /* 68.75% */
            letter-spacing: -0.025rem;
            }
            img{
                width: 3.5rem;
                height: 3.4375rem;
            }
        }

        .menu-nav__ul{
            display:flex;
            gap: 0.5rem;
            .menu-nav__li{
                display: inline-flex;
                padding: 0.25rem 1rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem; 
                transition:1.5s;
                a{
                    color: #2C2F24;
                    font-family:var(--fuente2);
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.5rem;  
                    text-decoration: none;
                } 
            }
        }
        li:hover{
            border-radius: 2.125rem;
            background: #DBDFD0;
            }
        
        .nav__button{
            display: flex;
            padding: 0.75rem 1.5rem;
            border-radius: 7.375rem;
            border: 1.5px solid #2C2F24;
            color: #2C2F24;
            font-family: var(--fuente2);
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5rem;
            transition:1.5s;
        }    
        button:hover{
            background: #DBDFD0;
            cursor: pointer;
        }
    }
