@media (max-width: 1024px) {
    
    main{ width: 90%; }
    .galeria { grid-template-columns: repeat(2, 1fr); } 
/* --- Estilos para TABLET --- */
}

/* --- Estilos para MÓVIL --- */
@media (max-width: 480px) {
     body,div p,div a,div li,div span,div h2 {
        font-size: 2px;
    }
    
    * {
        outline: 1px solid red !important;
        
    
}

 section.content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem;
    gap:1.5rem;
        .head-title__h2{
            max-width: 95%;
           
            line-height: normal;
        }
        .img__content1{
            max-width: 90%;
            height: auto;
        }
 }
  
  
   
}
.receta{
    display: flex;
    flex-direction:column;
    width: 100%;
    max-width:100vw;
    justify-content: center;

    .receta__ingredient-list{
        display: flex;
        justify-content: center;
        gap:0.5rem;
    }
.ingredient-list__h3{
    
}




}
